[submodule "modules/pyregexp"]
	path = modules/pyregexp
	url = https://github.com/benma/pyregexp.git
[submodule "modules/visual-regexp"]
	path = modules/visual-regexp
	url = https://github.com/benma/visual-regexp.git
[submodule "modules/visual-regexp-steroids"]
	path = modules/visual-regexp-steroids
	url = https://github.com/benma/visual-regexp-steroids.git
[submodule "modules/hayoo"]
	path = modules/hayoo
	url = git@github.com:benma/hayoo.el
